.hero-background {
    display: flex;
    justify-content: center;
    background: rgb(250, 235, 215);
    font-family: "Archivo", sans-serif;
    padding: 100px 10px;
    border-bottom: 2px solid #000;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 100%;
}

.hero-info h1 {
    font-family: "DM Serif Display", "serif";
    font-size: 55px;
    font-weight: 800;
    line-height: 60px;
    text-rendering: optimizeLegibility;
}

.hero .hero-info p {
    font-size: 23px;
    line-height: 35px;
    width: 100%;
}

.hero-links {
    display: flex;
    gap: 20px;
    font-size: 17px;
}

.hero-links #a1 {
    border: 1px solid #000;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.hero-links #a1:hover {
    background-color: #000;
    color: #fff;
}

.hero-links #a2 {
    border: 1px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.hero-links #a2:hover {
    background-color: #000;
    color: #fff;
}

#img-collage {
    max-width: 600px;
    width: 100%;
    height: auto;
    color: transparent;
}

.learn-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more {
    padding: 50px 0px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.learn-more>h2 {
    max-width: 650px;
    text-align: center;
    font-size: 36px;
    font-family: "DM Serif Display", "serif";
    line-height: 45px;
}

.learn-more>p {
    font-size: 26px;
    font-family: "Archivo", sans-serif;
    text-align: center;
    max-width: 450px;
    line-height: 45px;
}

.learn-ready {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.learn-ready p {
    font-size: 28px;
    font-weight: 800;
    font-family: "DM Serif Display", serif;
    text-align: center;
    max-width: 400px;
}

.learn-ready a {
    max-width: 120px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Archivo", sans-serif;
    text-align: center;
    padding: 15px 15px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}

.learn-ready a:hover {
    background-color: #000;
    color: #fff;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.world {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 450px;
    width: 100%;
    padding: 10px;
    height: 150px;
}

.four-grid {
    border: solid 1px black;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 150px;
}

.pallet-color {
    border: solid 1px black;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 150px;
}

.ligthbulb {
    border: solid 1px black;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 150px;
}

.cards p {
    font-size: 18px;
    font-weight: 500;
    font-family: "Archivo", sans-serif;
    text-align: center;
    line-height: 1.5;
}

.cards img {
    width: 120px;
    height: 120px;
}